html { 
    
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
  background: url(../../Content/Images/CollageBrewco.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";       /* IE 8 */
  filter: alpha(opacity=95);  /* IE 5-7 */
  -moz-opacity: 0.95;          /* Netscape */
  -khtml-opacity: 0.95;        /* Safari 1.x */
  opacity: 0.95;
}
 .linkHolder{ 
    display:block;
    position:absolute;
    bottom:5px;
    right:30px;
 }

.linkImages{
    width:40px;
    height:40px; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;       /* IE 8 */
  filter: alpha(opacity=100) !important;  /* IE 5-7 */
  -moz-opacity: 1.0 !important;          /* Netscape */
  -khtml-opacity: 1.0 !important;        /* Safari 1.x */
  opacity: 1.0 !important;
}

.overlay {
    position: absolute;
    padding: 10px;
    z-index: 1000;
    background: #1d1818;
    width: calc(40vw - 20px);
    height: 90%;
    right:50px;
    text-align:center;
    color:#808080;
    top: 30px;
    cursor: default;
}

.bandinfo{
    width:100%;
    min-height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

