@{
    ViewBag.Title = "Index";
}

<div class="overlay">
    <h2 class="text-center">Collage The Band</h2>
    <div class="bandinfo">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
                High energy dance/party band based out of Cleveland, Ohio featuring an mix of pop, rock & dance favorites (80's to current). We play local clubs, corporate & private events, and weddings offering a combination of live music, DJ, and emcee services; along with our top notch sound and lighting system to enhance our performance. Below is a current list of our songs.
            </div>
        </div>
        <br />
        <div class="row" >
            <div class="col-sm-offset-1 col-sm-10" style="z-index:999 !important;">
                <p class="trigger"><a href="#">Current Song List</a></p>
                <div class="toggle_container">
                    <div class="block">
                        <ul>
                            <li>I Can't Feel My Face - The Weekend</li>
                            <li>Uptown Funk - Bruno Mars</li>
                            <li>All About That Bass - Meghan Trainor</li>
                            <li>Holiday - Green Day</li>
                            <li>Honey I'm Good - Andy Grammar</li>
                            <li>Happy - Pharrell</li>
                            <li>Shut Up & Dance - Walk the Moon</li>
                            <li>Talk Dirty - Jason Derulo</li>
                            <li>Moves Like Jagger - Maroon 5</li>
                            <li>Time of our Lives - Pitbull</li>
                            <li>Fireball - Pitbull</li>
                            <li>Ain't It Fun - Paramore</li>
                            <li>Ice Ice Baby - Vanilla Ice</li>
                            <li>Animal - Maroon 5</li>
                            <li>Sombody Told Me - The Killers</li>
                            <li>Royals - Lordes</li>
                            <li>Lonely Boys - Black Keys</li>
                            <li>The Anthem - Good Charlotte</li>
                            <li>Country Girl - Luke Bryan</li>
                            <li>Get Lucky - Daft Punk</li>
                            <li>Sunday Morning - Maroon 5</li>
                            <li>Blurred Lines - Robin Thicke</li>
                            <li>Still In To You - Paramore</li>
                            <li>Little Red Wagon - Miranda Lambert</li>
                            <li>Mr. Brightside - The Killers</li>
                            <li>Cruise - Florida Georgia Line</li>
                            <li>Everybody Talks – Neon Trees</li>
                            <li>Wild Ones – Flo Rida</li>
                            <li>Locked Outta Heaven – Bruno Mars</li>
                            <li>Price Tag – Jesse J</li>
                            <li>Roses – Outkast</li>
                            <li>This Love - Maroon 5</li>
                            <li>Flagpole Sitta - Harvey Danger</li>
                            <li>Monster - Eminem/Rhianna</li>
                            <li>Animal – Neon Trees</li>
                            <li>Drive By – Train</li>
                            <li>Tonight Tonight – Hot Chelle Rae</li>
                            <li>What I Got – Sublime</li>
                            <li>Hey Ya – Outkast</li>
                            <li>Semi-Charmed Life – Third Eye Blind</li>
                            <li>Starships – Nikki Manaj</li>
                            <li>Don’t Stop Believing – Journey</li>
                            <li>My Own Worst Enemy – Lit</li>
                        </ul>
                    </div>
                </div>
                <br />
                <p class="trigger"><a href="#">Current Band Members</a></p>
                <div class="toggle_container">
                    <div class="block">
                        <ul>
                            <li>Aaron Yerman - Lead Vocals</li>
                            <li>Bobbie Yerman - Keyboard and Vocals</li>
                            <li>Tony Yerman - Bass and Vocals</li>
                            <li>Tim Blue - Keyboard and Vocals</li>
                            <li>Tommy Fiore - Lead Guitar</li>
                            <li>John Carr - Vocals/Drums</li>
                        </ul>
                    </div>
                </div>
                <br />
                <p class="trigger"><a href="#">Upcoming Events</a></p>
                <div class="toggle_container">
                    <div class="block text-center">
                        <div class="fb-page" data-href="https://www.facebook.com/collageband.ctb/?fref=ts" data-tabs="events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/collageband.ctb/?fref=ts"><a href="https://www.facebook.com/collageband.ctb/?fref=ts">CollageBand Cle</a></blockquote></div></div>
                    </div>
                </div>
                <br />
                <p class="trigger"><a href="#">Booking Information</a></p>
                <div class="toggle_container">
                    <div class="block">
                        <p>
                            Bobbie Yerman, Contact for any questions regarding booking.
                            <ul>
                                <li>email - thebandcollage@gmail.com</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row linkHolder">
            <a href="https://www.facebook.com/collageband.ctb/?fref=ts" target='_blank'><img src="@Url.Content("~/Content/Images/fb-art.jpg")" class="linkImages" /></a>
            <a href="https://twitter.com/CollageBandCLE" target='_blank'><img src="@Url.Content("~/Content/Images/twitter.png")" class="linkImages" style="width:45px !important;height:45px !important;" /></a>
        </div>
    </div>
</div>

<div class="row mediaplayer">
    <iframe width="100%" height="150" scrolling="yes" frameborder="1" src="https://www.reverbnation.com/widget_code/html_widget/artist_592159?widget_id=55&pwc[included_songs]=1&context_type=page_object&spoid=artist_592159&pwc[size]=small" style="width:500px;min-width:100%;max-width:100%;"></iframe>
</div>
