@{
    ViewBag.Title = "Index";
}


<div class="overlay">
    <h2>Collage The Band</h2>
    <div class="bandinfo">
        <div class="row linkHolder">
            <a href="https://www.facebook.com/collageband.ctb/?fref=ts" target='_blank'><img src="@Url.Content("~/Content/Images/fb-art.jpg")" class="linkImages" /></a>
            <a href="https://twitter.com/CollageBandCLE" target='_blank'><img src="@Url.Content("~/Content/Images/twitter.png")" class="linkImages" style="width:45px !important;height:45px !important;" /></a>
        </div>
    </div>
</div>
